#navbar > a{
    font-size: 100%;
    padding: 2.2%
}

#navbar > a > i {
    padding-right: 10px;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.5rem;
}

#project{
    padding-bottom: 5rem;
}

#project > h1{
    font-size: 1.5rem;
    padding-top: 5rem;
}

.project-grid{
    margin: 3rem auto 3rem auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem;
}

img{
    height: 75%;
}

.project-grid > a > p{
    font-size: 0.8rem;
}

.code{
    font-size: 1rem;
    padding: 0px 3px 0px 3px;
}

.btn-show-all {
    width: 20%;
    padding: 10px;
    font-size: 1.2rem;
}

.link{
    height: 65vh;
}

.link-header > p{
    font-size: 100%;
}

.details{
    margin: 2rem 0px 0px 0px;
} 

.details > a {
    padding: 12px;
}

footer{
    height: 13vh;
    font-size: medium;
}

footer > p {
    padding: 10px;
}

#footp1{
    text-align: left;
}
