html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-white);
    margin: 0;
}


nav{
    background-color: #af1126;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: flex-end;
}

#navbar > a{
    color: white;
    padding: 1.2%;
    display: flex;
    font-size: 150%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#navbar > a {
    transition: background-color 0.5s ease-out;
}

#navbar > a:hover{
    background-color: #000061;
}


#navbar > a > i{
    padding-right: 15px;
}

#navbar > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

#navbar:hover > i {
    transform: translateX(2px);
}

.welcome-section{
    background-image: linear-gradient(45deg, #0066ff -20%, #000000 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    line-height: 0.1;
}

h1{
    color: azure;
    font-size: 3.5rem;
}

h2{
    color: #af1126;
    font-weight: lighter;
    font-size: 2rem;
    font-style: italic;
}

#project{
    display: block;
    background-image: linear-gradient(45deg, #298992 -20%, #000000 100%);
    padding-bottom: 8rem;
}

#project > h1{
    margin: 0;
    padding-top: 8rem;
    text-align: center;
    font-size: 3rem;
}

.pro-hr{
    width: 60rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 5rem auto 3rem auto;
}

img{
    width: 100%;
    height: 80%;
}

.project-grid > a > p{
    color: azure;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}
  
.project-grid > a , .code{
    background-color: #303841;
    border-radius: 15px;
    text-decoration: none;
}
 
.code{
    color: #303841;
    padding: 0px 6px 0px 6px;
    font-size: 1.7rem;
    transition: color 0.5s ease-out;
}

.project:hover .code {
        color: #fd4400;
}

.btn-show-all {
    background-color: #303841;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 15%;
    padding: 15px;
    border-radius: 4px;
    font-size: 1.5rem;
    transition: background-color 0.5s ease-out;
    align-items: center;
}

.btn-show-all:hover {
    background-color: #af1126;
}

.btn-show-all > a > i{
    display: flex;
    padding-right: 5px;
}

.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.btn-show-all:hover > i {
    transform: translateX(2px);
}

.link{
    background-image: linear-gradient(45deg, #137e00 -20%, #000000 100%);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
}

.link-header > h1{
    margin-bottom: 0.5rem;
}

.link-header > p{
    font-size: 130%;
}

.details{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 4rem auto;
    font-size: x-large;
    flex-wrap: wrap;
} 

.details > a{
    color: azure;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

.details > a > i{
    padding-right: 15px;
}

.foot-hr {
    background: #af1126;
    height: 10px;
    width: 100%;
    margin: 0;
    border-style: none;
}

footer{
    background-color: #303841;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    height: 10vh;
}

footer > p{
    margin: 0;
    padding: 20px;
}

footer > p > a{
    color: gold;
}

footer > p > a > i{
    size: 20px;
    padding-left: 10px;
}