html{
    position: relative;
}

h1{
    font-size: 200%;
}

#project > h1 {
    font-size: 2rem;
}

.pro-hr{
    width: 30rem;
}

.project-grid > a > p {
    margin: 8px;
    font-size: 1.05rem;
}

.code {
    font-size: 1.2rem;

}